<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vue JS test</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0);">VueJS Test</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:void(0);">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div id="app">
    <div class="container">
        <div class="page-header">
            <h1>All the datas <button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#myModal">Add</button></h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class=" table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Priority</th>
                            <th>Estimate</th>
                            <th>State</th>
                            <th style="width: 150px;">Create Date</th>
                            <th style="width: 140px;">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="data, index in all_datas" v-if="data.is_visible">
                            <td>{{ index + 1 }}</td>
                            <td>{{ data.title }}</td>
                            <td>{{ data.description }}</td>

                            <td>
                                <span class="label label-success" v-if="data.priority == 0">Low</span>
                                <span class="label label-warning" v-else-if="data.priority == 10">Medium</span>
                                <span class="label label-danger" v-else-if="data.priority == 20">High</span>
                            </td>

                            <td>{{ data.estimate }}</td>

                            <td>
                                <span class="label label-primary" v-if="data.state == 0">New</span>
                                <span class="label label-success" v-else-if="data.state == 10">In work</span>
                                <span class="label label-warning" v-else-if="data.state == 20">Closed</span>
                                <span class="label label-danger" v-else-if="data.state == 30">Canceled</span>
                            </td>

                            <td>{{ data.create_date }}</td>
                            <td>
                                <!--<button type="button" class="btn btn-primary" v-on:click="editData(index, data)">Edit</button>-->
                                <button type="button" class="btn btn-danger" v-on:click="deleteData(index, data)">Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                {{ this.getCurrentDateTime() }}
                <ul class="pagination">
                    <li v-for="page_no in getTotalPages()">
                        <a href="javascript:void(0);" v-on:click="showSelectedPageData($event, page_no)">{{ page_no }}</a>
                    </li>
                </ul>
            </div>
        </div>

    </div><!-- /.container -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form class="form-horizontal" action="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add data</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" v-bind:class="[add_data.title.hasError ? 'has-error' : '']">
                        <label class="control-label col-sm-2" for="title">Title:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" placeholder="Enter title" v-model="add_data.title.value">
                            <span class="help-block" v-if="add_data.title.hasError">{{ this.add_data.title.error }}</span>
                        </div>
                    </div>
                    <div class="form-group" v-bind:class="[add_data.description.hasError ? 'has-error' : '']">
                        <label class="control-label col-sm-2" for="description">Description:</label>
                        <div class="col-sm-10">
                            <textarea  class="form-control" id="description" placeholder="Enter description" v-model="add_data.description.value"></textarea>
                            <span class="help-block" v-if="add_data.description.hasError">{{ this.add_data.description.error }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="priority">Priority:</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="priority" v-model="add_data.priority.value">
                                <option value="0">Low</option>
                                <option value="10">Medium</option>
                                <option value="20">High</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" v-bind:class="[add_data.estimate.hasError ? 'has-error' : '']">
                        <label class="control-label col-sm-2" for="estimate">Estimate:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="estimate" placeholder="Enter estimate" v-model="add_data.estimate.value">
                            <span class="help-block" v-if="add_data.estimate.hasError">{{ this.add_data.estimate.error }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="state">State:</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="state" v-model="add_data.state.value">
                                <option value="0">New</option>
                                <option value="10">In work</option>
                                <option value="20">Closed</option>
                                <option value="30">Canceled</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="create_date">Create Date:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="create_date" readonly placeholder="Enter create date"  v-model="add_data.create_date.value">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" v-on:click="addData()">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')</script>
<script src="assets/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="assets/js/vue.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>

